.container {
    max-width: var(--max-width);
    margin: 0 auto;
    padding-top: 4rem;
}

.header {
    text-align: center;
    margin-bottom: 2rem;
}

.title {
    font-size: 3rem;
    font-weight: 800;
    color: var(--text-primary);
    margin-bottom: 1rem;
}

.subtitle {
    font-size: 1.2rem;
    color: var(--text-secondary);
}